[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
crossrefapi = "*"
habanero = "*"
numpy = "*"
pandas = "*"
pybtex = "*"
requests = "*"
tqdm = "*"
unidecode = "*"
fake-useragent = "*"

[dev-packages]

[requires]
python_version = "3.13"
