[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.3"
certifi = "==2023.11.17"
charset-normalizer = "==3.3.2"
crossrefapi = "==1.6.0"
habanero = "==1.2.3"
idna = "==3.6"
latexcodec = "==2.0.1"
numpy = "==1.24.4"
pybtex = "==0.24.0"
pyyaml = "==6.0.1"
requests = "==2.31.0"
six = "==1.16.0"
soupsieve = "==2.5"
tqdm = "==4.66.1"
unidecode = "==1.3.8"
urllib3 = "==1.26.16"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
