name: mathonco-automatic-update
run-name: Updating TWiMO Bibliography (Every Thursday at 18:00)
on: 
  schedule:
    - cron: '0 18 * * 4'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pipenv'
      
      - name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python

      - name: Install dependencies
        run: pipenv install --python 3.13

      - name: Run auto-update script
        run: pipenv run python3 automatic_update.py

      - name: Commit changes
        run: |
          git config --local user.email "test@github.com"
          git config --local user.name "GitHub Action test"
          git add -A
          if ! git diff --cached --quiet; then
            git commit -m "Auto update"
          else
            echo "No changes to commit."
          fi

      - name: Push changes 
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
